
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validation_docter</title>
</head>

    <body style="background-color:white">


        <center style="position:relative; top:100px">

            @*@*<img src="~/images/Validation_Docter.png"  />*@
            @*<img src="~/images/DoctersValidation.jpg" />*@

            <img src="~/images/images.png"width="300" height="200"/>
            <div>
                <h2 style="color:red; font-size:30px;">

                   كلمه المرور والاسم غير صحيحان 
                   
                    من فضلك حاول مره اخري 


                </h2>
            </div>
        </center>
    </body>

</html>
