
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>validation</title>
</head>
<body>
    <center>
        <div>

            <h2 style="color:red">

                الرقم السري والايميل غلط يرجي اعاده المحاوله لاحقا
            </h2>
        </div>
    </center>
</body>
</html>
